* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    margin: 5px;
    height: 170px;
    background: #334455;
    color: #fff;
    border-radius: 5px;
    padding: 30px;
}



span {
    color: #ffaa00;
}

.wrapper-2 {
    display: flex;
    margin-top: 10px;
}

.wrapper-2 input {
    margin-right: 5px;
    padding: 10px;
    background-color: #fff;
}


.wrapper-2 button {
    height: 30px;
    border-radius: 3px;
}

.wrapper-2 button {
    width: 162px;
    background: rgb(241, 241, 67);
}

footer:hover input::placeholder {
    color: #fcb528;
}

footer:hover input {
    background-color: #f8f4f4;
}

footer:hover button {
    background-color: #f7b229;
    color: #f8efef;
}