/* 
Thuộc tính display: Thay đổi chế độ hiển thị của 1 thẻ html
- none --> ẩn
- block --> Hiển thị dưới dạng block
- inline --> Hiển thị dưới dạng block
- inline-block --> Kết hợp inline và block

Lưu ý: Thuộc tính display có rất nhiều giá trị phức tạp
- flex, inline-flex
- grid, inline-grid
- table 
- list-item
- table-cell

Thuộc tính opacity trong suất một thẻ 
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.title {
    display: inline-block;
    border: 1px solid red;
    padding: 10px 20px;
}

.title:hover {
    /* display: none;
    visibility: hidden; */
    opacity: 0;
}

/* 
float 
position
*/