.box {
    padding: 0;
    margin: 0;
}

.box {
    border: 1px solid red;
    width: 500px;
    margin: 30px auto;
    padding: 15px;
}

.box::after {
    content: "";
    display: block;
    clear: both;
}

.box img {
    width: 150px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    shape-outside: ellipse();
}

.btn {
    display: block;
    margin-left: auto;
    /* float: right; */

}

.link {
    border: 1px solid red;
    float: right;
}