* {
    padding: 0;
    margin: 0;
}

.box {
    width: 300px;
    border: 1px solid red;
    margin: 30px auto;
}

.box ul {
    list-style-position: inside;
    list-style-type: upper-alpha;
}

/* 
 list-style-position: inside | outside
 list-style-type: kiểu danh sách
 none --> Không ở định dạng danh sách
 disc --> Mặc định của ul
 circle -->
 square
 decimal --> sắp xếp dạng số
 deciaml-leading-zero
 lower-alpha
 upper-alpha
 list-style-image: thay biểu tượng bằng ảnh--> không khuyến khích sử dụng vì không tùy chỉnh được kích thước ảnh --> nên thay thế bằng background kết hợp với ::before

 list-style: position
 */