/* 
Attribute Selector
tag[attrubute] : chọn thẻ tag có thuộc tính là attribute */
/* tag[attibute] */
/* ul li a[target] {
    color: red;
}
ul li a[href=https://fullstack.edu.vn] {
    color: red;
} */
/* ul li a[href*=fullstack.edu.vn] {
    color: red;
} */
/* ul li a[href$=".net"] {
    color: red;
} */
/* .row [class^="col-"] {
    color: red;
} */
.box * {
    /* border: 1px sold red; */
    background: blueviolet;
    color: #fff;
}
