/* 
Thành phần giả 
Cú pháp: Selector::pseudo-element {
 }
 
 ::before
 ::after,
 ::first-letter,
 ::first-line,
 ::selection,
 ::placeholder
 */
 /* h1::before {
    content: "a";
 }
 h1::after {
    content: "b";
 }
 .title::before {
    content: attr(data-index);
 } */
 /* chọn dòng đầu tiên */
 p::first-line{
    color: red
    
 }
 /* Chữ cái đầu văn bản */
 p::first-letter{
    color: green;
    font-size: 2rem;
    font-weight:bold ;
 }
 /* bôi đen chọn văn bản */
 p::selection{
    background:black;
    color:#fff ;
 }
 /* placeholder: chữ chìm */
 input::placeholder {
    color: red;
    font-style: italic;
    font-weight: bold;
 }