/* 
Thành phần giả 
Cú pháp: Selector::peseudo-element {
 }
 
 ::before
 ::after,
 ::first-line,
 ::selection,
 ::placeholder
 */
 /* h1::before {
    content: "a";
 }
 h1::after {
    content: "b";
 }
 .title::before {
    content: attr(data-index);
 } */
 p::first-line{
    color: red
    
 }
 p::first-letter{
    color: green;
    font-size: 2rem;
    font-weight:bold ;
 }
 p::selection{
    background:black;
    color:#fff ;
 }
 input::placeholder {
    color: red;
    font-style: italic;
    font-weight: bold;
 }