/* 
Lớp giả (State)
Cú pháp: selector:pseudo-class {
}

1. hover, active, focus
Lưu ý: - focus chỉ áp dụng với form
        - hover, active: áp dụng với tất cả thẻ html
        ngoại lệ: để 1 thẻ html không phải là form có focus --> Thêm thuộc tính tabindex
2. not--> Loại trừ phủ định
3. disable
4. checked 
 */

 /* .btn:hover {
    background: green;
 }
 .btn:active {
    background: blueviolet;
 }
.btn:focus {
    background: blue;
} */
 /* input:focus::placeholder {
    color: red;
 }
input:hover::placeholder {
    font-style: italic;
}
 h1:focus {
    color:red; }
.products .item=:not(active):not(.inactive) {
    color:red;
 }

 .btn {
   background:green;
   border: 0;
 } */

 input[type="checkbox"]:checked ~ span {
   text-decoration: line-through;
   color: blue;
 }
 input[type="checkbox"]:checked:disabled ~ span {
color: gray;
 }

 .products h2:first-child {
   color: red;
 }
 .products h2:last-child {
   color: greenyellow;
 }
 
.products h2:first-of-type {
    color: green;
 } 
.products h2:last-of-type {
    color: goldenrod;
 } 
 .products h2:nth-child(5) {
    color: blue;
 } 
 .products h2:nth-child(2n + 2) {
    color: rgb(0, 255, 110);
 } 
 .products h2:nth-of-type(2n+2) {
    color: rgb(173, 249, 23);
 } 